* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 61.875rem;
    border-left: 2px solid #EEE;
    border-right: 2px solid #EEE;
}

.header {
    display: flex;
    background-color: #f9f9f9;
}

.profile-image {
    background-color: #f2f2f2;
    height: 14.375rem;
    margin-right: 20px;
    width: 18.813rem;
    flex-shrink: 0;
}

.profile-image img {
    height: 100%;
}

.pi-name {
    font-size: 2.5rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

.pi-name-name {
    font-size: 1.875rem;
    margin-top: 1.25rem;
}

.pi-name-surname {
    font-weight: 400;
    margin-top: -1rem;
}

.pi-bio {
    margin-top: 10px;
    color: #666;
}

.main {
    display: flex;
    align-items: flex-start;
}

.main-lateral {
    width: 18.813rem;
    flex-shrink: 0;
    background-color: #f4f6ed;
    padding: 20px;
    height: 68.75rem;
}

.ml-block:not(:first-of-type) {
    margin-top: 10px;
}

.mlb-title {
    font-size: 1.313rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #4c562a;
}

.mlb-info {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 20px;
}

.mlb-info i {
    font-size: 0.875rem;
    margin-right: 10px;
    color: #b6c487;
}

.li-divider{
    display: none;
}

.mlb-info-fecha {
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #555;
}

.mlb-subtitle {
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #666;
}

.mlb-subinfo {
    color: #444;
}

.mlb-subtitle i {
    margin-right: 10px;
    color: #6a783b;
}

.main-principal {
    padding: 20px;
}

.mp-title {
    font-size: 1.313rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.mp-title:not(:first-of-type) {
    margin-top: 20px;
}

.mp-laboral {
    padding-left: 26px;
}

.mp-laboral .mp-subtitle {
    font-size: 1.125rem;
    font-weight: 400;
}

.mp-laboral .mp-subtitle:not(:first-of-type) {
    margin-top: 20px;
}

.mp-laboral .mp-date {
    font-size: 0.813rem;
    font-weight: 400;
    color: #888;
    text-transform: uppercase;
}

.mp-laboral .mp-info {
    margin-top: 10px;
    padding-left: 20px;
    color: #444;
}

.mp-proyectos .mlb-subinfo li:not(:first-of-type) {
    margin-top: 10px;
}

.mp-proyectos .mlb-subinfo:not(:last-of-type) {
    margin-bottom: 30px;
}
.mobile{
    display: none;
}

/*MEDIA QUERIES*/
/* MOBILE */
@media only screen and (max-width:700px){
    html, body {
        display: block;
    }
    .container{
        /* max-width: 100%;   */
    } 
    .header{
        background-color: #f2f2f2;
    }
    .profile-image img {
        height: 72%;
        padding: 0.5rem;
    }
    .profile-image{
        width: 5.5rem;
        /* margin-right: 0; */
    }
    .main-lateral{
        width: 40%;
        padding: 0.5rem;
        height: auto;
    }

    .main-principal{
        width: 60%;
    }
    .mlb-title{
        font-size: 0.8rem;
    }
    .mlb-subtitle{
        font-size: 0.7rem;
    }
    .mlb-info{
        font-size: 0.5rem;
        margin-left: -1.5rem;
    }

    .mlb-subinfo{
        font-size: 0.6rem;
        list-style: none;
        margin-left: -2.5rem;
        
    }
    .li-divider{
        text-align: center;
        display: block;
        margin:0;
    }
    .mp-title{
        font-size: 0.8rem;
    }

    .pi-name{
        font-size: 2rem;
    }

    .pi-name-name{
        font-size: 1.5rem;
    }
    .pi-bio{
        font-size: 0.8rem;
        justify-content: stretch;
    }

    .mp-laboral .mp-subtitle {
        font-size: 0.7rem;
        margin-left:-1.7rem;
    }

    .mp-info {
        /* font-size: 0.6rem;
        margin-left:-2.5rem; */
        
    }

    .mp-laboral .mp-info {
        margin-top: 0;
        font-size: 0.6rem;
        margin-left:-2.5rem;

    }

    .main-principal {
        padding: 0.5rem;
    }

    .edu-exp{
        display: none;
    }
    .mobile{
        display: block;
        background-color: #f2f2f2;
       /* margin-top: -0.9rem; */
       padding-top: 1rem;
       padding-left: 1rem;
    }

    .mp-title:not(:first-of-type) {
        margin-top: 0; 
    }
    .bottom{
        height: 2rem;
    }
}